body, input {
    font-family: arial;
}
#loadVideo {
    margin-bottom: 5px;
}
#vidInit {
    position: relative;
    width: 700px;
    .subtitle {
        position: absolute;
        bottom: 50px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: bold;
        text-shadow: 2px 2px 0px #000;
    }
}
#vid {
    width: 100%;
}